<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Project Details')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Details')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <!--/* sucessful flash message div*/-->
        <div th:replace="layout :: flash"></div>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <!--/* Project name */-->
                        <h2 th:text="${project.name}">
                            Project name
                        </h2>
                        <!--/* Project description */-->
                        <p th:text="${project.description}">
                            Design and build a custom website
                        </p>
                        <!--/* Project Status, is styled(colored) according
                               to status
                         */-->
                        <span th:class="'tag ' + ${project.status.styleClass}">
                            Project Status
                        </span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <div class="list-item">
                            <span class="primary">Developer</span>
                            <span class="secondary">Michael Pemulis</span>
                        </div>
                        <div class="list-item">
                            <span class="primary">Designer</span>
                            <span class="secondary">Don Gately</span>
                        </div>
                        <div class="list-item">
                            <span class="primary">QA</span>
                                <span class="secondary">Joelle Van Dyne</span>
                            </div>
                        <div class="list-item">
                            <span class="primary">DevOps</span>
                            <span class="secondary">[Unassigned]</span>
                        </div>
                    </div>
                    <div class="actions">
                        <a class="button" href="project-edit.html">Edit Project</a>
                        <a class="button" href="project-collaborators.html">Edit Collaborators</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>