<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Edit Project')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Details')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <section>
            <!--/* sucessful flash message: on update or add or delete */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/* action can be add-new or edit existing */-->
                <form th:action="@{${action}}"
                      th:object="${project}"
                      method="post">
                    <!--/* hidden project.id field: is set to 0, when project
                           is new, is set to actual project id, when we edit
                     */-->
                    <input hidden th:field="*{id}">
                    <!--/* In case of error class of this div will change to
                        error class
                    */-->
                    <div th:classappend="${#fields.hasErrors('name')}? 'error name project' : ''">
                        <!--/* Validation error message */-->
                        <span th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">
                            Validation Error Message
                        </span>
                        <!--/* project name input, attr 'required' is for server
                               side validation.
                         */-->
                        <label th:for="${#fields.idFromName('name')}"> Project Name:</label>
                        <input th:field="*{name}"
                               type="text"
                               required
                               name="project_name">
                    </div>
                    <!--/* No validation messages for project description,
                           because its only validation is being not null, and
                           browser takes care of this with "required" attribute.
                           But just in case we add something I'll leave this
                           error class here
                     */-->
                    <div th:classappend="${#fields.hasErrors('name')}? 'error name project' : ''">
                        <!--/* Validation error message */-->
                        <span th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">
                        Validation Error Message
                    </span>
                        <!--/* project description input, attr 'required'
                               is for server side validation
                         */-->
                        <label th:for="${#fields.idFromName('description')}">
                            Project Description:
                        </label>
                        <textarea th:field="*{description}"
                                rows="4"
                                name="project_description"
                                required>
                        </textarea>
                    </div>
                    <!--/* No validation div for 'status', because I want to
                           make "Not started" by default here. Can be
                           easily changed later
                    */-->
                    <div>
                        <label th:for="${#fields.idFromName('status')}">
                            Project Status:
                        </label>
                        <div class="custom-select">
                         <!--/* arrow on selector */-->
                        <span class="dropdown-arrow"></span>
                             <!--/* Select project status field */-->
                            <select th:field="*{status}"
                                    th:class="${defaultStatus.styleClass}"
                                    name="project_status">
                                <!--/* I separated statuses in model to default
                                       one and others. It seemed natural to me
                                       that 'Not started' should be default
                                       status. Also note: each option has its
                                       own style, that is then transformed to
                                       select attribute using javascript, see
                                       'app.js' file.
                                 */-->
                                <option th:value="${defaultStatus}"
                                        th:text="${defaultStatus.description}"
                                        th:class="${defaultStatus.styleClass}">
                                    Default Status Description
                                </option>
                                <option th:class="${availableStatus.styleClass}"
                                        th:each="availableStatus : ${statusesWithoutDefaultOne}"
                                        th:value="${availableStatus}"
                                        th:text="${availableStatus.description}">
                                    Status description
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--/* This is validated manually, see controller method,
                           but '#fields.hasErrors' can be used because we set
                           it accordingly
                    */-->
                    <div th:classappend="${#fields.hasErrors('rolesNeeded')}? 'error role project' : ''">
                        <!--/* Custom validation error message */-->
                        <span th:if="${#fields.hasErrors('rolesNeeded')}"
                              th:errors="*{rolesNeeded}"
                              class="validation">
                            Please select at least one Role
                        </span>
                        <!--/* This label does not point to anywhere, so I
                               because we have many roles with many ids.
                               It is better be changed to simple span. May be
                               It is wrong, but it feels better
                        */-->
                        <!--/*
                            <label for="project_roles">Project Roles:</label>
                        */-->
                        <span th:if="${#fields.hasErrors('rolesNeeded') == false}">
                            Project Roles:
                        </span>
                        <!--/* list with all roles */-->
                        <ul class="checkbox-list">
                            <li th:each="role : ${allRoles}">
                                <!--/*
                                     here we set selected role id of
                                     rolesNeeded. Without this id will be 0
                                */-->
                                <select hidden th:field="*{rolesNeeded[__${roleStat.index}__].id}">
                                    <option th:value="${role.id}"></option>
                                </select>
                                <!--/*
                                     here we set selected role name of
                                     rolesNeeded. Without this name will be null
                                */-->
                                <select hidden th:field="*{rolesNeeded[__${roleStat.index}__].name}">
                                    <option th:value="${role.name}"></option>
                                </select>
                                <!--/* Main checkbox where we attach checked
                                       Role to one of the RolesNeeded elements.
                                       Unchecked roles will be null
                                */-->
                                <input th:value="${role}"
                                       th:field="*{rolesNeeded[__${roleStat.index}__]}"
                                       type="checkbox">
                                <!--/* Prints role name near checkbox */-->
                                <span th:text="${role.name}"
                                      class="primary">
                                    Role Name
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <!--/* button for adding new project */-->
                        <button th:action="@{${action}}"
                                type="submit"
                                value="Save"
                                class="button">
                            Save
                        </button>
                        <!--/* Cancel button, redirects back home */-->
                        <a th:href="@{/}"
                           class="button button-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </section>
        <div th:replace="layout :: scripts"></div>
    </body>
</html>