<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Project Collaborators')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Collaborators')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <section>
            <!--/* sucessful flash message */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/* save collaborators form */-->
                <form th:action="@{/projects/save-collaborators}"
                      th:object="${project}">
                    <!--/* Hidden id element, because we update here
                    */-->
                    <input hidden th:value="*{id}" type="text">
                    <!--/* Label for Edit collaborators, basically span
                           should be better here, because there is no "for"
                           with "id" to point to.
                    */-->
                    <label th:text="'Edit Collaborators : ' + *{name}">
                        Edit Collaborators: Project Name
                    </label>
                    <!--/* checkbox input with collaborators for roles */-->
                    <ul class="checkbox-list">
                        <li th:each="role : *{rolesNeeded}">
                            <span th:text="${role.name}" class="primary">
                                Role Name
                            </span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:field="*{collaborators[__${roleStat.index}__]}">
                                    <option th:each="collaborator : ${role.collaborators}"
                                            th:value="${collaborator}"
                                            th:text="${collaborator.name}">
                                        Collaborator Name
                                    </option>
                                </select>
                            </div>
                        </li>
                    <div class="actions">
                        <!--/* Submit button */-->
                        <input type="submit" value="Save" class="button">
                        <!--/* Cancel button */-->
                        <a th:href="@{|/projects/*{id}/edit|}"
                           class="button button-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>