<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Project Details')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Details')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <!--/* sucessful flash message div*/-->
        <div th:replace="layout :: flash"></div>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <!--/* Project name */-->
                        <h2 th:text="${project.name}">
                            Project name
                        </h2>
                        <!--/* Project description */-->
                        <p th:text="${project.description}">
                            Design and build a custom website
                        </p>
                        <!--/* Project Status, is styled(colored) according
                               to status
                         */-->
                        <span th:text="${project.status.description}"
                              th:class="'tag ' + ${project.status.styleClass}">
                            Project Status
                        </span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <!--/* If there are no roles available, e.g. they
                               were removed, then we show here link to add
                               new roles
                        */-->
                        <div th:if="${project.rolesNeeded.size() == 0}"
                            class="no-roles-for-project">
                            <p>
                                All Roles associated with this projects were deleted.
                            </p>
                            <p>
                                Consider adding new ones.
                            </p>
                        </div>
                        <!--/* For each role in roles needed of project */-->
                        <div th:each="role : ${project.rolesNeeded}" class="list-item">
                            <!--/* list role name */-->
                            <span class="primary"
                                  th:text="${role.name}">
                                Role Name
                            </span>
                            <!--/* list unassigned collaborators if there are
                                   no collaborators. to save iterations of
                                   going through needed roles, to find out
                                   which collaborator is assigned, and which
                                   is not. See controller
                            */-->
                            <span th:if="${project.collaborators.size() == 0}"
                                    class="secondary">
                                [Unassigned]
                            </span>
                            <!--/* If however at least one role is assgined we
                                   have to make this
                                   `projectCollaboratorsWithNullForUnAssigned`
                                   array which is synchronized by size and
                                   index with
                                   `rolesNeeded` list by adding null values for
                                   collaborators that are unassigned. See
                                   controller for more
                            */-->
                            <div th:if="${project.collaborators.size() > 0}">
                                <!--/*if "synchronized" collaborator at index of
                                      rolesNeeded array: [__${roleStat.index}__]
                                      is not null, i.e assigned, we print his
                                      name
                                */-->
                                <span th:if="${projectCollaboratorsWithNullsForUnAssigned[__${roleStat.index}__] != null}"
                                      th:text="${projectCollaboratorsWithNullsForUnAssigned[__${roleStat.index}__].name}"
                                      class="secondary in-empty-div">
                                    Collaborator Name
                                </span>
                                <!--/*if "synchronized" collaborator at index of
                                      rolesNeeded array: [__${roleStat.index}__]
                                      is null, i.e unassigned, we print
                                      [Unassigned]
                                */-->
                                <span th:if="${projectCollaboratorsWithNullsForUnAssigned[__${roleStat.index}__] == null}"
                                      class="secondary in-empty-div">
                                    [Unassigned]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <!--/* Button linking to project edit page
                               this link is focused using javascript,
                               see app.js, and div with scripts below
                        */-->
                        <a class="button"
                           id="focused-link"
                           th:href="@{|/projects/${project.id}/edit|}">
                            Edit Project
                        </a>
                        <!--/* Button linking to project edit collaborators page
                               is inaccessible when project has no roles
                        */-->
                        <a class="button"
                           th:if="${project.rolesNeeded.size() > 0}"
                           th:href="@{|/projects/${project.id}/collaborators|}">
                            Edit Collaborators
                        </a>
                        <!--/* Button deleting project */-->
                        <a class="button delete project"
                           onclick="confirm('Are you sure you want to delete project?')"
                           th:href="@{|/projects/${project.id}/delete|}">
                            Delete Project
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="layout::scripts"></div>
    </body>
</html>