<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Project Collaborators')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Collaborators')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <section>
            <!--/* sucessful flash message */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/* save collaborators form */-->
                <form method="post"
                      th:action="@{/projects/save-collaborators}"
                      th:object="${project}">
                    <!--/* Hidden id, name and description elements, because we
                         update here the existing project, we have to put these.
                         Otherwise we'll have validation errors
                    */-->
                    <input hidden th:value="*{id}" type="text">
                    <input hidden th:value="*{name}" type="text">
                    <input hidden th:value="*{description}" type="text">
                    <!--/* Label for Edit collaborators, basically span
                           should be better here, because there is no "for"
                           with "id" to point to.
                    */-->
                    <label th:text="'Edit Collaborators : ' + *{name}">
                        Edit Collaborators: Project Name
                    </label>
                    <!--/* checkbox input with collaborators for roles */-->
                    <ul class="checkbox-list">
                        <!--/* in every list item we use one role from
                               roles needed
                        */-->
                        <li th:each="role : *{rolesNeeded}">
                            <!--/* print each role name */-->
                            <span th:text="${role.name}" class="primary">
                                Role Name
                            </span>
                            <!--/*Here we play the same trick as before with
                                  multiple collaborators' roles selects: We
                                  obtain valid ids from collaborators, by them
                                  we get needed collaborators in controller
                            */-->
                            <div class="custom-select">
                                <!--/* dropdown arrow */-->
                                <span class="dropdown-arrow"></span>
                                <!--/* collaborators[index].id is field to be
                                       filled. the rest will be null
                                */-->
                                <select th:field="*{collaborators[__${roleStat.index}__].id}">
                                    <!--/* We choose from possible collaborators
                                           that have this role. Then
                                           We add collaborator with right
                                           collaborator.id of picked
                                           collaborator
                                           to our projects collaborator[i].id
                                           the rest of the fields will be null
                                    */-->
                                    <option th:each="collaborator : ${role.collaborators}"
                                            th:value="${collaborator.id}"
                                            th:text="${collaborator.name}">
                                        Collaborator Name
                                    </option>
                                </select>
                            </div>
                        </li>
                    <div class="actions">
                        <!--/* Submit button */-->
                        <button type="submit" class="button">
                            Save
                        </button>
                        <!--/* Cancel button */-->
                        <a th:href="@{|/projects/*{id}/edit|}"
                           class="button button-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>