<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Project Collaborators')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Collaborators')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <section>
            <!--/* sucessful flash message */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <form>
                    <label>Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li><span class="primary">Developer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Michael Pemulis</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">Designer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Don Gately</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">QA</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Joelle Van Dyne</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">DevOps</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Choose...</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>