<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Edit Project')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Details')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <section>
            <!--/* sucessful flash message: on update or add or delete */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/* action can be add-new or edit existing */-->
                <form th:action="@{|/projects/${action}|}"
                      th:object="${project}"
                      method="post">
                    <div th:classappend="${#fields.hasErrors('name')}? 'error name project' : ''">
                        <!--/* Validation error message */-->
                        <span th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">
                            Validation Error Message
                        </span>
                        <!--/* project name input, required: server side
                               validation */-->
                        <label for="project_name"> Project Name:</label>
                        <input th:field="*{name}"
                               type="text"
                               required
                               name="project_name">
                    </div>
                    <!--/* No validation messages for project description, because
                           its only validation is being not null, and browser
                           takes care of this with "required" attribute. So
                           nothing for now
                     */-->
                    <div>
                        <label for="project_description">Project Description:</label>
                        <textarea th:field="*{description}"
                                rows="4"
                                name="project_description"
                                required>
                        </textarea>
                    </div>
                    <!--/* No validation for project, because I want to make
                           "Not started" by default here
                    */-->
                    <div>
                        <label for="project_status">Project Status:</label>
                        <div class="custom-select">
                         <!--/* arrow on selector */-->
                        <span class="dropdown-arrow"></span>
                             <!--/* Select project status field */-->
                            <select th:field="*{status}"
                                    name="project_status">
                                <!--/* For now active is selected, this is one
                                       of additional things to do. Coloring is
                                       added to each option, however select
                                       itself is not, also to do.
                                 */-->
                                <option th:each="availableStatus : ${statuses}"
                                        th:value="${availableStatus}"
                                        th:text="${availableStatus.description}"
                                        th:style="|background:${availableStatus.color}|">
                                    Status description
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--/* This is validated manually, when field is invalid,
                           rolesError is passed to model,
                           see controller. Unfortunately roles checked by user
                           not saved. Could be implemented with Validation
                           Service?
                    */-->
                    <div th:classappend="${rolesError != null}? 'error role project' : ''">
                        <!--/* Custom validation error message */-->
                        <span th:if="${rolesError != null}"
                              th:text="${rolesError}"
                              class="validation">
                        Please select at least one Role
                        </span>
                        <label for="project_roles">Project Roles:</label>
                        <ul class="checkbox-list">
                            <!--/* Tricky part: here I print all roles,
                                   but for input.value I use role.id member.
                                   Why? Otherwise I have to write custom
                                   validator and|or converted of Role. It gives
                                   me validation error message. So I collect
                                   empty roles, with names equal to null, and
                                   if selected id will non-zero, this way I know
                                   what user has selected. The other question is
                                   why not to attach Role name somehow, well
                                   I tried, it didn't work. This is the only
                                   way
                            */-->
                            <li th:each="role : ${allRoles}">
                                <input th:value="${role.id}"
                                       th:field="*{rolesNeeded[__${roleStat.index}__].id}"
                                       type="checkbox"
                                       >
                                <!--/* Prints role name near checkbox */-->
                                <span th:text="${role.name}"
                                      class="primary">
                                    Role Name
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <!--/* button for adding new project */-->
                        <button th:action="@{|/projects/${action}|}"
                                type="submit"
                                value="Save"
                                class="button">
                            Save
                        </button>
                        <!--/* Cancel button, redirects back home */-->
                        <a th:href="@{/}"
                           class="button button-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>