<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Edit Project')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Details')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <section>
            <!--/* sucessful flash message: on update or add or delete */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/* action can be add-new or edit existing */-->
                <form th:action="@{|/projects/${action}|}"
                      th:object="${project}"
                      method="post">
                    <div>
                        <label for="project_name"> Project Name:</label>
                        <input th:field="*{name}"
                               type="text"
                               required
                               id="project_name"
                               name="project_name">
                    </div>
                    <div>
                        <label for="project_description">Project Description:</label>
                        <textarea th:field="*{description}"
                                rows="4"
                                name="project_description"
                                id="project_description"
                                required>
                        </textarea>
                    </div>
                    <div>
                        <label for="project_status">Project Status:</label>
                        <div class="custom-select">
                        <span class="dropdown-arrow"></span>
                            <select th:field="*{status}"
                                    name="project_status"
                                    id="project_status">
                                <option th:each="availableStatus : ${statuses}"
                                        th:value="${availableStatus.description}"
                                        th:text="${availableStatus.description}">
                                    Status description
                                </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="project_roles">Project Roles:</label>
                        <ul th:field="*{rolesNeeded}"
                            class="checkbox-list">
                            <li th:each="role : ${roles}">
                                <input th:value="${role.id}"
                                       type="checkbox"
                                       id="project_roles">
                                <span th:text="${role.name}"
                                      class="primary">
                                    Role Name
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <!--/* button for adding new project */-->
                        <button th:action="@{|/projects/${action}|}"
                                type="submit"
                                value="Save"
                                class="button">
                            Save
                        </button>
                        <!--/* Cancel button, redirects back home */-->
                        <a th:href="@{/}"
                           class="button button-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>