<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Project Details')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Project Details')"></header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <!--/* sucessful flash message div*/-->
        <div th:replace="layout :: flash"></div>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <!--/* Project name */-->
                        <h2 th:text="${project.name}">
                            Project name
                        </h2>
                        <!--/* Project description */-->
                        <p th:text="${project.description}">
                            Design and build a custom website
                        </p>
                        <!--/* Project Status, is styled(colored) according
                               to status
                         */-->
                        <span th:text="${project.status.description}"
                              th:class="'tag ' + ${project.status.styleClass}">
                            Project Status
                        </span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <!--/* For each role in roles needed of project */-->
                        <div th:each="role : ${project.rolesNeeded}" class="list-item">
                            <!--/* list role name */-->
                            <span class="primary"
                                  th:text="${role.name}">
                                Role Name
                            </span>
                            <!--/* list unassigned collaborators if there are
                                   no collaborators
                            */-->
                            <span th:if="${project.collaborators.size() == 0}"
                                    class="secondary">
                                [Unassigned]
                            </span>
                            <!--/* If there are some collaborators */-->
                            <div th:each="collaborator : ${project.collaborators}">
                                <!--/* we check if collaborator.role.id is
                                       equal to role of this project, then
                                       we print collaborator's name, others are
                                       ignored
                                */-->
                                <span th:if="${collaborator.role.id == role.id}"
                                      th:text="${collaborator.name}"
                                      class="secondary">
                                    Collaborator Name
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <!--/* Button linking to project edit page */-->
                        <a class="button"
                           th:href="@{|/projects/${project.id}/edit|}">
                            Edit Project
                        </a>
                        <!--/* Button linking to project edit collaborators page
                        */-->
                        <a class="button"
                           th:href="@{|/projects/${project.id}/collaborators|}">
                            Edit Collaborators
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>