<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('Error')"></head>
    <body>
        <header th:replace="layout :: header('Error')"></header>
        <nav th:replace="layout :: nav('error')"></nav>
        <section>
            <div class="container wrapper">
                <!--/*
                    Print Status and Error
                */-->
                <h2 th:if="${custom_status == null}"
                    th:text="|${#httpServletRequest.getAttribute('javax.servlet.error.status_code')} Error|"
                    class="error">
                    500 Error
                </h2>
                <!--/* Print custom error status, if we know about exception */-->
                <h2 th:if="${custom_status != null}"
                    th:text="${custom_status} + ' Error'"
                    class="error">
                    500 Error
                </h2>
                <div class="error">
                    <code th:if="${#httpServletRequest.getAttribute('javax.servlet.error.message')} != null"
                          th:text="${#httpServletRequest.getAttribute('javax.servlet.error.message')}">
                        Error Message
                    </code>
                </div>
            </div>
        </section>
    </body>
</html>