<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!--/* Shows browser's tab name "InstaTeam | argument */-->
    <head th:replace="layout :: head('Projects')"></head>
    <body>
        <!--/* Shows header "InstaTeam : argument" */-->
        <header th:replace="layout :: header('Projects')"> </header>
        <!--/* Navigation: should highlight "Projects" tab */-->
        <nav th:replace="layout :: nav('projects')"></nav>
        <!--/* sucessful flash message: on update or add or delete */-->
        <div th:replace="layout :: flash"></div>
        <section>
            <div class="container wrapper">
                <!--/*
                    If there are no projects availabe we put here link to
                    add project page. Also if there are no roles, we will
                    be redirected to roles page
                */-->
                <h2 th:if="${projects.size() == 0}" class="outside-form">
                    No Projects Available
                </h2>
                <div th:if="${projects.size() == 0}" class="actions">
                    <a th:href="@{/projects/add-new}" class="button add-roles-button">
                        Add Project
                    </a>
                </div>
                <!--/* List with projects */-->
                <div class="project-list">
                    <div th:each="project : ${projects}" class="project">
                        <!--/* Project name : link to project detail page */-->
                        <h2><a th:text="${project.name}"
                               th:href="@{project/project-details}">
                                Project Name
                            </a>
                        </h2>
                        <!--/* Project description */-->
                        <p th:text="${project.description}">
                            Project Description
                        </p>
                        <!--/* Project status, is colored according to
                               status
                        */-->
                        <span th:text="${project.status}"
                              th:class="'tag ' + ${project.status.styleClass}">
                            Project Status
                        </span>
                    </div>
            </div>
        </section>
    </body>
</html>