<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head('Roles')"></head>
    <body>
        <header th:replace="layout :: header('Roles')"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form method="post" th:object="${newRole}">
                    <h2>Manage Roles</h2>
                    <div>
                        <ul th:each="listedRole : ${roles}" class="checkbox-list">
                            <li>
                                <!--<span th:text="${listedRole.name}" class="primary">Role Name</span>-->
                                <a th:text="${listedRole.name}"
                                   th:href="@{'/roles/' + ${listedRole.id}}"
                                   class="primary role">Role Name</a>
                            </li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input type="hidden" th:field="*{id}">
                        <input type="text"
                               placeholder="New Role..."
                               th:field="*{name}"
                               required>
                        <button class="button" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>