<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head('Roles')"></head>
    <body>
        <header th:replace="layout :: header('Roles')"></header>
        <nav th:replace="layout :: nav('roles')"></nav>
        <section>
            <div class="container wrapper">
                <!--/* New Role adding form */-->
                <form method="post" th:object="${newRole}">
                    <h2>Manage Roles</h2>
                    <!--/* List available roles as links to detail role page
                     */-->
                    <ul th:each="listedRole : ${roles}" class="checkbox-list">
                        <li>
                            <a th:text="${listedRole.name}"
                               th:href="@{'/roles/' + ${listedRole.id}}"
                               class="primary role">Role Name</a>
                        </li>
                    </ul>
                    <div class="actions add-new-role">
                        <!--/* Hidden role id input */-->
                        <input type="hidden" th:field="*{id}">
                        <!--/* Error class will be set to this div, if name is
                               invalid
                         */-->
                        <div th:classappend="${#fields.hasErrors('name')}? 'error name' : ''">
                            <!--/* Error reason why it is wrong */-->
                            <span
                                    th:if="${#fields.hasErrors('name')}"
                                    th:errors="*{name}"></span>
                            <input type="text"
                                   placeholder="New Role..."
                                   th:field="*{name}"
                                   required>
                        </div>
                        <button class="button" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>