<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head('Roles')"></head>
    <body>
        <header th:replace="layout :: header('Roles')"></header>
        <nav th:replace="layout :: nav('roles')"></nav>
        <section>
            <!--/* Successful Flash message */-->
            <div th:replace="layout :: flash"></div>
            <!--/* Main container with data */-->
            <div class="container wrapper">
                <!--/* New Role adding form */-->
                <form method="post" th:object="${newRole}">
                    <h2>Manage Roles</h2>
                    <!--/* List available roles as links to detail role page
                        and delete buttons as well
                     */-->
                    <ul th:each="listedRole : ${roles}" class="checkbox-list">
                        <li>
                            <!--/* Link to detail role page to edit */-->
                            <a th:text="${listedRole.name}"
                               th:href="@{'/roles/' + ${listedRole.id}}"
                               class="primary role">Role Name</a>
                            <!--/* Button to delete role */-->
                            <!--/* added simple javscript with confirm dialog */-->
                            <a onclick="return confirm('Deleting Role will delete all collaborators associated. Do you want to proceed?')"
                               th:href="@{'/roles/' + ${listedRole.id} + '/delete'}"
                               th:text="${'Delete'}"
                               class="button delete">Delete</a>
                        </li>
                    </ul>
                    <div class="actions add-new-role">
                        <!--/* Hidden role id input */-->
                        <input type="hidden" th:field="*{id}">
                        <!--/* Error class will be set to this div, if name is
                               invalid
                         */-->
                        <div th:classappend="${#fields.hasErrors('name')}? 'error name' : ''">
                            <!--/* Error reason why it is wrong */-->
                            <span
                                    th:if="${#fields.hasErrors('name')}"
                                    th:errors="*{name}"></span>
                            <input type="text"
                                   placeholder="New Role..."
                                   th:field="*{name}"
                                   required>
                        </div>
                        <button class="button" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>