<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('Edit Collaborator')"></head>
    <body>
        <header th:replace="layout :: header('Edit Collaborator')"></header>
        <nav th:replace="layout :: nav('collaborators')"></nav>
        <section>
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/* Form of editing collaborator */-->
                <form th:action="@{'/collaborators/' + ${collaborator.id} + '/edit'}"
                      th:object="${collaborator}"
                      method="post">
                    <h2>Edit Collaborator</h2>
                    <!--/* Container with collaborator fields */-->
                    <div class="actions add-new-collaborator">
                        <!--/* Hidden id field to post */-->
                        <input type="hidden" th:field="*{id}">
                        <!--/* this div gets error class to show user his
                               errors in input */-->
                        <div th:classappend="${#fields.hasErrors('name')}? 'error name collaborator' : ''">
                            <!--/* Error message from validation of name */-->
                            <span th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                            <!--/* collaborator name to post, field is required:
                                   client side validation */-->
                            <input type="text"
                                   placeholder="Name..."
                                   required
                                   th:field="*{name}">
                        </div>
                        <!--/* This div is activated when user does not pick
                               right id from options */-->
                        <div th:classappend="${invalidRoleMessage != null}? 'error id collaborator' : ''">
                            <!--/* Print validation message, set in controller
                                   see invalidRoleMessage. Don't see better
                                   ideas */-->
                            <span class="error id collaborator"
                                  th:if="${invalidRoleMessage != null}"
                                  th:text="${invalidRoleMessage}">
                            </span>
                            <!--/* Select role using option */-->
                            <div class="custom-select">
                                <!--/* arrow on option */-->
                                <span class="dropdown-arrow add-new-collaborator"></span>
                                    <select th:field="*{role.id}">
                                        <!--/* selected default option with id=0
                                               I process it in controller. If I
                                               disable this option, Then when user
                                               types right name, but not selecting
                                               any option, the program will set him
                                               first role by default. This is
                                               arguable, but I decided for it to be
                                               so.
                                        */-->
                                        <option value="0" selected>Select Role</option>
                                        <!--/* option with id as value, and name as text */-->
                                        <option th:each="availableRole : ${roles}"
                                                th:value="${availableRole.id}"
                                                th:text="${availableRole.name}">
                                            Role Name
                                        </option>
                                    </select>
                                <button class="button add-button" type="submit">
                                    Save
                                </button>
                                <!--/* Delete button with javascript simple confirm
                                       dialog
                                */-->
                                <a onclick="return confirm('Do you really want to delete this collaborator?')"
                                   th:href="@{'/collaborators/' + ${collaborator.id} + '/delete'}"
                                   class="button delete-button">Delete</a>
                                <!--/* Cancel button */-->
                                <a th:href="@{/collaborators}"
                                   class="button cancel-button">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>