<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <!--/* Shows browser's tab name "InstaTeam | Collaborators */-->
    <head th:replace="layout :: head('Collaborators')"></head>
    <body>
        <!--/* Shows header "InstaTeam : Collaborators" */-->
        <header th:replace="layout :: header('Collaborators')"></header>
        <!--/* Navigation: should highlight "Collaborators" tab */-->
        <nav th:replace="layout :: nav('collaborators')"></nav>
        <section>
            <!--/* sucessful flash message: on update or add or delete */-->
            <div th:replace="layout :: flash"></div>
            <div class="container wrapper">
                <!--/*
                    If there are no roles we put here link to roles page
                */-->
                <h2 th:if="${roles.size() == 0}" class="outside-form">
                    No Roles Available
                </h2>
                <div th:if="${roles.size() == 0}" class="actions">
                    <a th:href="@{/roles}" class="button add-roles-button">
                        Add Roles
                    </a>
                </div>
                <!--/*
                    if there are roles available
                    and if there are collaborators,
                    we print this save-all form
                */-->
                <form th:if="${roles.size() > 0 && collaborators.size() > 0}"
                      th:action="@{/collaborators/save-roles}"
                      th:object="${projectWithAllCollaborators}"
                      method="post">
                    <h2>Manage Collaborators</h2>
                    <!--/* List all collaborators with roles */-->
                    <ul th:each="collaborator : *{collaborators}"
                        class="checkbox-list">
                        <li>
                            <!--/* Collaborator's name leading to collaborator
                                   detail page*/-->
                            <a th:text="${collaborator.name}"
                               th:href="@{'/collaborators/' + ${collaborator.id}}"
                               class="primary role">Collaborator Name</a>
                            <!--/* Delete collaborator button */-->
                            <a onclick="return confirm('Are you sure you want to delete this collaborator?')"
                               th:href="@{'/collaborators/' + ${collaborator.id} + '/delete'}"
                               th:text="${'Delete'}"
                               class="button delete collaborator">Delete</a>
                            <!--/* Container with collaborator's role, here
                                   I used select with disabled fields to save
                                   styling
                            */-->
                            <div class="custom-select">
                                <!--/* drop down arrow on role changer */-->
                                <span class="dropdown-arrow change-role"></span>
                                <!--/* role changer selector */-->
                                <select th:field="*{collaborators[__${collaboratorStat.index}__].role.id}">
                                    <!--/*
                                        Option for collaborator without a role
                                    */-->
                                    <option value="0">[Unassigned]</option>
                                    <!--/* Options for collaborators with
                                           roles
                                    */-->
                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${role.name}"
                                            th:selected="${role.id == collaborator.role.id}"
                                            >
                                    </option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <!--/* Button for save all collaborators POST*/-->
                    <div class="actions">
                        <button th:action="@{/collaborators/save-roles}"
                                class="button"
                                type="submit">Save</button>
                    </div>
                </form>
                <!--/* Form of adding new collaborator */-->
                <form th:if="${roles.size() > 0}"
                      th:action="@{/collaborators/add-new}"
                      th:object="${newCollaborator}"
                      method="post">
                    <h2>Add New Collaborator</h2>
                    <!--/* Container with new collaborator fields */-->
                    <div class="actions add-new-collaborator">
                        <!--/* Hidden id field to post */-->
                        <input type="hidden" th:field="*{id}">
                        <!--/* this div gets error class to show user his
                               errors in input */-->
                        <div th:classappend="${#fields.hasErrors('name')}? 'error name collaborator' : ''">
                            <!--/* Error message from validation of name */-->
                            <span th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                            <!--/* collaborator name to post, field is required:
                                   client side validation */-->
                            <input autofocus
                                   type="text"
                                   placeholder="Name..."
                                   required
                                   th:field="*{name}">
                        </div>
                        <!--/* This div is activated when user does not pick
                               right id from options */-->
                        <div th:classappend="${invalidRoleMessage != null}? 'error id collaborator' : ''">
                            <!--/* Print validation message, set in controller
                                   see invalidRoleMessage. Don't see better
                                   ideas */-->
                            <span class="error id collaborator"
                                  th:if="${invalidRoleMessage != null}"
                                  th:text="${invalidRoleMessage}">
                            </span>
                            <!--/* Select role using option */-->
                            <div class="custom-select">
                                <!--/* arrow on option */-->
                                <span class="dropdown-arrow add-new-collaborator"></span>
                                    <select th:field="*{role.id}">
                                        <!--/* selected default option with id=0
                                               I process it in controller. If I
                                               disable this option, Then when user
                                               types right name, but not selecting
                                               any option, the program will set him
                                               first role by default. This is
                                               arguable, but I decided for it to be
                                               so. Right now if user doesn't select
                                               role, error appears.
                                        */-->
                                            <option value="0" selected>Select Role</option>
                                            <!--/* option with id as value, and name as text */-->
                                            <option th:each="availableRole : ${roles}"
                                                    th:value="${availableRole.id}"
                                                    th:text="${availableRole.name}">
                                                Role Name
                                            </option>
                                    </select>
                                <!--/*
                                Button for add new collaborator POST request
                                */-->
                                <button th:action="@{/collaborators/add-new}"
                                        class="button add-button"
                                        type="submit">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>