<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('Collaborators')"></head>
    <body>
        <header th:replace="layout :: header('Collaborators')"></header>
        <nav th:replace="layout :: nav"></nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{/collaborators/save-roles}"
                      th:object="${newCollaborator}"
                      method="post">
                    <h2>Manage Collaborators</h2>
                    <!--/* List all collaborators with roles */-->
                    <ul th:each="collaborator : ${collaborators}"
                        class="checkbox-list">
                        <li>
                            <!--/* Collaborator's name */-->
                            <span th:text="${collaborator.name}"
                                  class="primary">Name
                            </span>
                            <!--/* Container with collaborator's role, here
                                   I used select with disabled fields to save
                                   styling
                            */-->
                            <div class="custom-select">
                                <select disabled class="no-arrow-select">
                                    <option value="0"
                                            th:text="${collaborator.role.name}"
                                            selected>
                                    </option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <button class="button add-button" type="submit">Save</button>
                    </div>
                </form>
                <!--/* Form of adding new collaborator */-->
                <form th:action="@{/collaborators}"
                      th:object="${newCollaborator}"
                      method="post">
                    <h2>Add New Collaborator</h2>
                    <!--/* Container with new collaborator fields */-->
                    <div class="actions add-new-collaborator">
                        <!--/* Hidden id field to post */-->
                        <input type="hidden" th:field="*{id}">
                        <!--/* collaborator name to post */-->
                        <input type="text"
                               placeholder="Name..."
                               th:field="*{name}">
                        <!--/* Select role using option */-->
                        <div class="custom-select">
                            <!--/* arrow on option */-->
                            <span class="dropdown-arrow add-new-collaborator"></span>
                                <select th:field="*{role.id}">
                                    <!--/* disabled default option */-->
                                    <option value="0" disabled selected>Select Role</option>
                                    <!--/* option with id as value, and name as text */-->
                                    <option th:each="availableRole : ${roles}"
                                            th:value="${availableRole.id}"
                                            th:text="${availableRole.name}">
                                        Role Name
                                    </option>
                                </select>
                            <button class="button add-button" type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>